[project]
name = "static-site-generator"
version = "0.1.0"
description = "Add your description here"
readme = "README.md"
requires-python = ">=3.14"
dependencies = []

[dependency-groups]
dev = [
    "coverage>=7.13.0",
    "debugpy>=1.8.19",
    "pytest>=9.0.2",
    "ruff>=0.14.10",
]
